body {
  font-family: "Dancing Script", cursive;
  background-color: #02010a;
}

#contenido {
  width: 900px;
  margin: auto;
}

img {
  box-shadow: 2px 2px #02010a;
}

@-webkit-keyframes animHeader {
  0% {
    margin-top: 150%;
  }

  60% {
    margin-top: -5%;
  }

  100% {
    margin-top: 0%;
  }
}

header {
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: 1em 0;
  animation: animHeader 1s;
}

header h1 {
  text-shadow: 2px 2px #02010a;
  color: white;
  margin: auto;
  margin-left: 2%;
}

header nav {
  font-size: 1.5em;
  margin: auto;
  margin-right: 3%;
}

header nav a {
  padding: 0 0.3em;
  color: white;
}

.linkPaginaActual {
  text-decoration: none;
}

footer {
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-flow: row nowrap;
  padding: 1%;
  font-size: 1.2em;
}

footer h2 {
    margin: 0;
}

div[class^="footerCol"] {
  width: 25%;
  margin: 1.5%;
}

footer .footerColRedes img {
  width: 1em;
  margin-right: 0.3em;
  border-radius: 0.2em;
}

@media (max-width:900px) {
  #contenido {
    width:100%;
  }

  header {
    flex-flow: column nowrap;
  }

  header h1, header nav{
    margin: auto;
  }

  footer {
    flex-flow: column nowrap;
  }

  div[class^="footerCol"] {
    width: 100%;
    margin-bottom: 0.8em;
  }

  footer .footerColRedes img {
    width: 1.5em;
    margin-right: 0.3em;
    border-radius: 0.3em;
  }
}
